*{ margin:0; padding:0;}
body { width:100%;margin:0 auto; font-size:14px; font-family:"Microsoft YaHei","微软雅黑"; line-height:1.5em;color:#303030;position:relative;background: #f2f2f2;}
ul,dl,dd,dt,h1,h2,h3,h4,h5,h6,form { padding:0; margin:0;}
h1 { font-size:20px; font-family:'Microsoft YaHei';}
h2 { font-size:12px; font-weight:normal;}
h3 { font-size:14px; font-weight:normal;}
h4 { font-size:12px; font-weight:normal;}
h5 { font-size:12px; font-weight:normal;}
ul { list-style:none;}
li { list-style:none;}
img { border:none;}
a {color:#333; text-decoration:none;}
a:hover{color: #ff6c00;text-decoration:none;}
p{ word-spacing:-1.5px; padding:0; margin:0;}
section{display: block;width: 100%}
.clearfix:after,.clearfix:before{ content: "";display: table;}
.clearfix:after{ clear:both;}
.clearfix{zoom:1;}
.l{float: left;}
.r{float: right;}
.w1100{width: 1200px;margin: auto;background: #fff;box-sizing: border-box;}
.mt60{margin-top:60px}

.i1{background:#f2f2f2;height: 40px;font-size: 14px;}
.i1-span-1{width: 34px; height: 20px; float: left; line-height: 20px; text-align: center; margin: 10px 0; color: #fff; background: #ff6c00;    font-weight: bold;}
.i1-span-2{    float: left; margin: 10px 20px; font-weight: bold;line-height: 20px}
.i1 ul{float: right;margin:5px 0 8px;}
.i1 li{float: left; height: 27px; margin-left: 17px;font-size: 14px}
.i1 li a img{float: left;padding-right: 5px;padding-top:3px;}
.ewm{position: absolute; right:0px; top: 30px; width: 100px;margin: 10px 0;display: none}

.i2{height: 110px;background: #fff;}
.i2logo{float: left;margin-top: 20px;}
.i2 div div{float: left;margin-top: 29px;}
.i2-1{margin-left: 20px;}
.i2-1 h2 {font-size: 30px; letter-spacing: 5px;}
.xian{ margin-left: 20px;width:1px;height: 48px;background: #dddddd;}
.i2-1 h1{font-size: 30px; letter-spacing: 5px;}
.i2-1 p{font-size: 12px; font-weight: bold;letter-spacing: 1.5px;padding-top: 10px;}
.i2t{line-height: 20px; margin-left: 18px;}
.i2t p{line-height: 20px;padding-top:3px;}

.i3{background:#ff6c00;height: 40px;font-size: 16px;}
.i3-1 li{float: left;width: 9.2%;}
.i3-1 li a{color: #fff;line-height: 40px;text-align:center;display: block;width: 100%}
.rmkc{position: absolute; top: 40px; left: 0;width: 180px;height: 400px;background-color: #020202;z-index: 10;}
.i3 .hover{background: #484848}
.rmkc .kc-l{float: left;width: 180px;height: 32px;line-height: 32px;background-color:#020202;}
.rmkc .kc-l:hover{background-color:#ff6c00}
.rmkc .kc-l a{color: #fff; display: block; width: 100%; height: 32px; line-height: 32px;}
.rmkc .kc-l div{    width: 20px; height: 20px; float: left; margin: 6px 15px; text-align: center;}
.rmkc .kc-r{left: 180px; top: 0px; background-color: #fff;position: absolute;display: none;width: 400px;height: 400px;}
.rmkc .kc-r h2{font-size: 16px; margin-top: 20px; text-indent: 15px;}
.rmkc .kc-r p{font-size: 14px; margin-top: 10px; text-indent: 15px;}
.rmkc .kc-r img{width: 370px; height: 230px; margin: 15px 15px 10px;}
.rmkc .kc-r a{float: left; margin: 15px; height: 46px; color: #fff; background: #e43c3c; width: 156px; font-size: 16px; line-height: 46px; text-align: center; border-radius: 10px;}
.rmkc .kc-r a:first-of-type{margin-right: 42px}
.rmkc .kc-r:hover{display: block!important;}

.i4{width: 100%;height: 400px}
.swiper-container {width: 100%; height: 100%; }
.swiper-slide {width: 100%; height: 100%;text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; overflow: hidden; }
.i7 .swiper-slide {width: 260px !important;margin-right:20px;}
.i5 ul{padding-left:50px;}
.i5 li{float: left;height: 140px;background: #fff;}
.i5 div{font-size: 36px;font-weight: bold;line-height: 36px;text-indent: 70px;margin-top:40px;}
.i5 p{font-size: 16px; float: left;text-align: center;width: 240px;}
.i5 img{float: left;margin: 30px 0 0 69px;}
.i5 .i5-1,.i5 .i5-3{width: 338px}
.i5 .i5-2{width: 420px;}
.i5 .i5-1-xian{height: 80px;border-left: 2px #ccc solid;float: left;margin-top: 30px}
/* .a-nav{background: url(/templets/default/images/navbg1.png)no-repeat;background-position-y: 15px;} */
.a-nav{background: #f2f2f2;padding-bottom: 40px;}
.a-nav h2{font-size: 28px; text-align: center; font-weight: bold; line-height: 28px;}
.a-nav p{    font-size: 16px; text-align: center; color: #303030; margin-top: 5px;}
.b-nav{display: flex;}
.b-nav-1{    float: left; width: 60px; height: 35px; border: 1px #ddd solid; font: 18px/35px "微软雅黑"; text-align: center; margin-right: 5px;}
.b-nav .b-nav-in{background: #ff6c00; border: 1px #ff6c00 solid;} 
.b-nav .b-nav-in a{color: #fff;}
.c-nav{padding-top: 20px;width: 1200px;box-sizing: border-box;}
.c-nav-list{display: none;background: #fff;padding-left: 50px;padding-bottom: 30px;height: auto;}
.c-nav li{overflow: hidden;position: relative;float: left;width: 266px;height:190px;margin:0 12px 12px 0}
.c-nav li:nth-of-type(4n){margin-right: 0px}

.search1{width: 385px; height: 37px;margin-left: 45px;}
.search1 h2{    float: left; font-size: 18px; line-height: 37px; margin-right: 5px;}
.search-r{float: left}
.search-r .text1{    float: left; width: 269px; border: 1px #ff6c00 solid; height: 35px; text-indent: 10px; color: #ddd;}
.search-r .image1{    float: left; width: 37px; height: 37px; border: 1px #ff6c00 solid; background: #ff6c00 url(../images/search1.png)no-repeat; background-position: 5px 3px; }
#c-nav1{display: block;}
.i6{background: #f2f2f2;padding-top:60px;}
.i6 .w1100 .b-nav{background: #fff;padding-top:40px;padding-left:50px;}
.i6 .c-nav a{width: 100%;display: block;}
.i6 .c-nav a p{ position: absolute; bottom: 0px; width: 100%; height: 40px; font-size: 16px; color: #fff; text-align: center; line-height: 40px; background-color: #444;opacity: 0.7}
.i6 .c-nav a:hover p{background-color:#ff6c00;opacity: 0.7; }
.i8 .c-nav a{position: absolute; top: 0; left: 0; width: 100%; height: 175px; text-align: center; line-height: 166px; color: #fff; background: #333; font-size: 16px; opacity: 0.6; display: none;}
.c-nav li img{width: 100%;height: 100%;    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}   
 .c-nav li:hover a{display: block;}
 .c-nav li:hover img{-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);}

.c-nav li .ckgd{background: url(/templets/default/images/ckgd.jpg);}
.c-nav li:hover .ckgd{background: url(/templets/default/images/ckgd2.gif);}
.i7 .b-nav,.i7 .c-nav{padding-left: 40px;padding-right:40px;margin-top: 50px;}
.i7 .c-nav{margin-top: 0;height: 285px;}
.i12 .b-nav-1,.i7 .b-nav-1{width: 94px} 
.i7-div p{font-size: 14px;line-height: 52px}
.i7-nav img{height: 190px;width:260px}
#i7-nav1{display: block;}
.more{ margin: 5px 0 0 836px;}
.more a{ display: block; width: 60px; height: 25px; border: 1px #ddd solid; font-size: 14px; line-height: 25px; text-align: center;}

.i8 .b-nav-1{width: 94px} 
.i8 .more{ margin: 5px 0 0 936px;}
.i8 .c-nav li{height: 200px}
.i8 .c-nav img{height: 165px}
.i8 .c-nav p{font-size: 14px; text-align: center; line-height: 35px;}
.i8 .c-nav a{background:#333 url(/templets/default/images/shipin01.png)no-repeat;background-position: 50%;}

.i9 .ys{width: 100%;padding:40px 50px;}
.i9 .ys li{float: left; width: 358px; height: 190px; margin: 0 13px 13px 0;}
.i9 .ys li:nth-of-type(3n){margin-right: 0px}
.i9 .ys h2{font-size: 20px; font-weight: bold; line-height: 28px; margin: 18px 18px 0;}
.i9 .ys p{    font-size: 14px; display: block; width: 200px; margin: 10px 18px;}
.i9 .ys a{    display: block; width: 110px; height: 24px; background: #ff6c00; color: #fff; font-size: 16px; text-align: center; line-height: 24px; border-radius: 10px; margin: 15px 18px;}
.i10 .c-nav{padding: 40px 50px;}
.i10 .c-nav li{height: 265px}

.i11 .js{width: 100%;padding: 40px 50px;}
.i11 .js1{width: 740px;height: 70px;}
.i11 .js1 h2{color: #ff6c00;font-weight: bold;font-size: 28px;}
.i11 .js1 p{color:#303030;font-size: 16px;height: 44px;line-height: 44px;}
.i11 .l .l-wrap{background:#f2f2f2;height:300px;width:740px;box-sizing: border-box;padding: 20px;}
.i11 .js2{float: left;width: 340px;height: 96px;margin-bottom:20px;}
.i11 .js3{width: 350px; float: left; height: 260px;margin-right: 20px;}
.i11 .js4{float: left; width: 300px; height: 260px;}
.i11 .js4 p{font-size: 14px;color: #303030;line-height: 20px;text-indent: 28px;}
.i11 .js4 a{color: #ff6c00;float: right;}
.i11 .js5{float: left; width: 340px; height: 254px;background: #000;}
.i11 .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {left: 120px;}
.i11 .swiper-pagination-bullet {width: 12px; height: 12px; background: #fff; opacity: 1; }
.i11 .swiper-pagination-bullet-active {background: #ff6c00;}

.i12 .w1100{padding-bottom: 40px;}
.i12-l {margin-top: 40px;width: 750px;height: 307px;float: left;margin-left: 50px;}
.i12-l-t{display: flex;width: 100%;margin-top:0px;}
.i12 .c-nav img{width: 340px;height: 250px;float: left;}
.i12-list{    width: 390px; float: left; height: 250px; margin-left: 20px;}
.i12-list li{height: 76px;width: 100%;margin: 0 0px 11px 0;}
.i12-list li:nth-of-type(3n){margin-bottom:0px}
.i12-list li div  {float: left; width: 74px; height: 74px; border: 1px #000 solid;}
.i12-list div p{text-align: center;}
.i12-list h2{    float: left; font-size: 18px; color: #303030; width: 305px; margin-left: 9px; line-height: 25px;}
.i12 .i12-list h2 img{width: 40px !important;height: 17px;float: none;margin-left: 6px;}
.i12-list-p{    float: left; height: 51px; width: 380px; margin-left: 9px; font-size: 16px; line-height: 24px;color:#969696;}
.i12-list-p e{ color: #ff6c00; font-size: 16px; line-height: 24px;}
.i12-nav-list{display: none}
#i12-nav1{display: block;}
.i12-r{float: left; width: 340px; margin: 40px 0 0 10px;}
.i12-r>p{    float: left; width: 100%; height: 37px; font-size: 18px; color: #fff; background: #ff6c00; text-align: center; line-height: 37px}
.i12-r ul{    float: left; width: 100%; margin-top: 20px; height: 250px;}
.wdlist_li{float: left;width: 100%;height: 76px;margin: 0 0px 11px 0;}
.wdlist_li:nth-of-type(3n){margin-bottom:0px}
.wd_r{float: left; width: 40px; height: 76px;}
.wd_r span{ margin: 2px 0;width: 24px; height: 24px;border-radius: 50%;background: #ff6c00;text-align: center;line-height: 24px;font-size: 16px;color:#fff;;display: block;}
.wd_r .question{background: #303030;}
.wd_l{float: left;width: 300px}
.wd_l h2{font-size: 18px; line-height: 25px;}
.wd_l p{font-size: 16px;line-height: 24px;}
.wd_l p e{ color: #ff6c00; font-size: 16px; line-height: 24px;}
.i13{border-bottom: 2px #ff6c00 solid;}
.f-img{display: block;height: 188px}
.f-img img{width: 100%}

.footer{background: #303030; width: 100%; margin-top: 60px;}
.footer .w1100{background: #303030;}
.f-nav{padding-top: 40px;height: 350px;width: 100%}
.f-nav-l{float: left;width: 480px;height: 200px;color: #fff}
.f-nav-l p{font-size: 20px; margin-bottom: 40px;}
.f-nav-l ul{display: inline-block;width: 468px;}
.f-nav-t li,.f-nav-l li{    float: left; width: 78px; line-height: 37px;}
.f-nav-l li a {color:#fff;}
.f-nav-c{width: 215px;text-align: center;float: left;}
.f-nav-c p{font-size: 16px;color: #ffffff;}
.f-nav-c img {margin-top: 15px;margin-bottom: 45px;}
.f-nav-c h2{color:#ff6c00;font-size: 30px;font-weight: 900;margin-top: 10px;}
.f-nav-r { height: 200px; color: #fff; float: left; width: 449px; padding-left: 50px;}
.f-nav-r>p{margin-bottom: 50px}
.f-nav-r .a{font-size: 20px; float: left; line-height: 21px;}
.f-nav-r .b{    height: 21px; float: left; line-height: 27px; margin-left: 20px;}
.f-nav-r .b e{color:#ff6c00;font-weight: bold; }
.bmly{float: left; width: 449px; height: 139px;}
.bmly li{float: left;margin-bottom: 10px;}
.bmly span{    float: left; width: 32px; height: 36px; line-height: 36px; margin-right: 10px;}
.bmly input{height: 32px; width: 170px; border-radius: 5px; border: none;}
.bmly textarea{    width: 170px; height: 76px; border-radius: 5px; max-width: 170px; max-height: 76px;}
.bmly .sub-btn02{    width: 100%; background: #ff6c00; color: #fff;}

.f-nav-t{margin-top:35px;}
.f-nav-t,.f-nav-t ul{width: 100%; display: inline-block;}
.f-nav-t li{color: #fff}
.f-nav-t li a{color: #fff}
.banquan{background: #646464;height: 50px}
.banquan .w1100{background: #646464;}

.banquan p{text-align: center;color:#fff;line-height: 50px}

.xuanfu{display: none;position: fixed; right: 160px;top: 30%; width: 46px; height: 190px;z-index:1000}
.xuanfu li{height: 46px;float: right;}
.xf-a{display: none}
.xf-nav{margin-bottom: 2px;width: 46px}
.xf-nav1{background: #282a2c url(/templets/default/images/xuanfu01.png)no-repeat; background-position-x: 8px; background-position-y: 8px;}
.xf-nav2{background: #282a2c url(/templets/default/images/xuanfu02.png)no-repeat; background-position-x: 8px; background-position-y: 8px;}
.xf-nav3{background: #282a2c url(/templets/default/images/xuanfu03.png)no-repeat; background-position-x: 8px; background-position-y: 8px;}

.xf-nav:hover{background-color:#ff6c00;width: 130px;background-position-x:90px  }
.xf-nav:hover .xf-a{display: block;}
.xuanfu p{font-size: 18px;color: #fff;line-height: 46px;text-indent: 10px}
.xf-top{ width: 46px;background: #282a2c; letter-spacing: 2px; text-align: center; line-height: 23px;}
.xf-top a{color:#fff}


